/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('/img/pexels-prabhath-jayarathna-3459375-26873010.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #7c7c7c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    color: #ccc;
}

.logo {
    width: 100%; /* Ajusta a largura ao tamanho do container */
    height: 100%; /* Ajusta a altura ao tamanho do container */
    object-fit: cover; /* A imagem cobre todo o container */
    border-radius: 10px; /* Opcional: ajusta o logo ao contorno do container */
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

li button {
    background-color: #d9534f;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

li button:hover {
    background-color: #c9302c;
}
